html, body {
	height: 100%;
}

body {
	background: url('../img/conf_4.jpg') no-repeat scroll;
  background-position-y: 60px;
}

h4 {
	color: #f47c3c;
}

.navbar-brand {
  padding: 4px;
}

.navbar-brand>img {
  height: 100%;
  padding: 7px 20px 2px 2px;
  width: auto;
}

.caption-title-1 {
	background-color: rgba(244,124,60, 0.7);
	/*background-color: rgba(0, 0, 0, 0.7);*/
	padding-left: 3px;
	padding-right: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 32px;
}

.caption-title-2 {
	background-color: rgba(0,0,0, 0.7);
	/*background-color: rgba(0, 0, 0, 0.7);*/
	padding-left: 3px;
	padding-right: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 24px;
}


.hero-image-caption {
  position: absolute;
  /*right: 65%;*/
  /*bottom: 20px;*/
  left: 5%;
  z-index: 10;
  top: 20%;
  /*padding-bottom: 20px;*/
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.features {
    padding-bottom: 10%;
    padding-top: 10%;
}

.jumbotron p {
	font-size: 18px;
}

.btn {
	font-size: 0.9em;
	border-radius: 0px;
}

.btn-block {
	width: 80%;
}

.btn-lg {
	line-height: 24px;
}

.lead {
	font-size: 14px;
}

.btn-default {
	color: black;
	background-color: white;
	border: 3px solid black;
}

.btn-default.focus {
  color: #000;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid black;
}
.btn-default:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid black;
}

.btn-warning {
	color: #f47c3c;
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid #f47c3c;
}

.btn-warning.focus {
  color: #f47c3c;
  background-color: rgba(244, 124, 60, 0.5);
  border: 3px solid #f47c3c;
}
.btn-warning:hover {
  color: #f47c3c;
  background-color: rgba(244, 124, 60, 0.5);
  border: 3px solid #f47c3c;
}

/*
.btn-success {
	color: #81b33a;
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid #81b33a;
}


.btn-success.focus {
  color: #81b33a;
  background-color: rgba(129, 179, 58, 0.5);
  border: 3px solid #81b33a;
}
.btn-success:hover {
  color: #fafafa;
  background-color: rgba(129, 179, 58, 0.5);
  border: 3px solid #81b33a;
}

*/


.pattern {
	background-color: #fafafa;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23666666' fill-opacity='0.24' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}